body, #phpbb
{
	width:66%;
	width-min:800px;
	margin:auto;
}

#content, #bodyarea
{
	background-color:black;
	border-radius:10px;
	padding:5px;
	box-shadow: 4px 4px 2px black;
}

#gbl_menu
{
	color: red;
}

#espaceMembres
{
	float:right;
}

h1
{
	color:red;
}

.message
{
	padding:10px;
	width:66%;
	margin:auto;
}

.navPages
{
	text-align:center;
	margin:10px;
}

footer
{
	margin-top:10px;
	background-color:black;
	border-radius:10px;
	padding:5px;
	box-shadow: 4px 4px 2px black;
}