<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./templates/style/global.css" />
	<title>{% block title %}{% endblock %} - Blagnac-Etu</title>
</head>

<body>

<header>
{% include 'gbl_header.html' %}
<div id="espaceMembres">
<p>
	{% if infoMembres.is_registered %}
	Bienvenue {{ infoMembres.username }}<br/>
	<a href="./index.php?module=membres&action=auth&logout=true&redirect=true">Se déconnecter</a>
	{% else %}
	<a href="./index.php?module=membres&action=auth&redirect=true">Se connecter</a>
	<a href="./forum/ucp.php?mode=register">S'enregistrer</a>
	{% endif %}
</p>	
</div>
</header>

<div id="content">
{% block content %}
{% endblock %}
</div>

<footer>
{% include 'gbl_footer.html' %}
</footer>

</body>
</html>