<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./forum/styles/BlackOut/theme/stylesheet.css" />
	<title>{% block title %}{% endblock %} - Blagnac-Etu</title>
</head>

<body>

<header>
<div id="espaceMembres">
<p>
{% if infoMembres.is_registered %}
Bienvenue {{ infoMembres.username }}<br/>
<a href="./index.php?module=membres&action=auth&logout=true&redirect=true">Se déconnecter</a>
{% else %}
<a href="./index.php?module=membres&action=auth&redirect=true">Se connecter</a><br/>
<a href="./forum/ucp.php?mode=register">S'enregistrer</a>
{% endif %}
</p>	
</div>
{% include 'gbl_header.html' %}
</header>

<div id="content">
{% block content %}
{% endblock %}
</div>

{% include 'gbl_footer.html' %}

</body>
</html>