{#
Template d'affichage de toutes les news

Variables : listeNews : tableau contenant toutes les news
			numPage : numéro de la page courante
			nbNews : nombre total de news dans la table
			nbPages : nombre total de pages

Observations : Le contenu de la news est coupé à une certaine longueur modifiable
#}

{% extends "layout.html" %}

{% block title %}Liste des news{% endblock %}

{% block content %}

{% if infoMembres.is_admin %}
<div id="news_admin">
	<a href="./index.php?module=news&action=ecrire">Écrire une news</a>
</div>
{% endif %}

{% for new in listeNews %}
<div class="news_liste">
	<h3 class="news_title">{{ new.news_title }}</h3>
	<span class="news_info">Par {{ new.news_author }} le {{ new.news_date }}</span>
	
	{% if infoMembres.is_admin %}
	<div class="news_liste_config">
		<a href="./index.php?module=news&action=ecrire&id={{ new.news_id }}">Modifier</a>
		<a href="./index.php?module=news&action=delete&id={{ new.news_id }}">Supprimer</a>
	</div>
	{% endif %}
	
	<div class="news_content">
	{# Longueur de coupe du texte #}
	{{ new.news_content | cut("20") }} <a href="./index.php?module=news&action=afficher&id={{ new.news_id }}">Lire la suite</a>
	</div>
</div>
{% endfor %}

<hr/>

{# Affichage du nombre de pages et de la page courante #}
<div class="navPages">
{% if nbPages == 0 %}
<p>Pas de news</p>
{% else %}

{% if numPage > 1 %}
	<a href="./index.php?module=news&action=liste&page={{ numPage - 1 }}">Page précédente</a>
{% endif %}
{% for page in 1..nbPages %}
	{% if page != numPage %}<a href="./index.php?module=news&action=liste&page={{ page }}">{% endif %}
	{{ page }}
	{% if page != numPage %}</a>{% endif %}
{% endfor %}
{% if numPage < nbPages %}
	<a href="./index.php?module=news&action=liste&page={{ numPage + 1 }}">Page suivante</a>
{% endif %}
{% endif %}
	
</div>

{% endblock %}