{#
Template d'affichage d'une news

Variables : news : Tableau de la news, contient les valeurs de chaque champ de la BDD
			error : Éventuelle erreur de connexion à la BDD 

Observations :
#}

{% extends "layout.html" %}

{% block title %}Affichage d'une news - {% if error == null %}{{ news.news_title }}{% else %}Erreur{% endif %}{% endblock %}

{% block content %}
<div class="navPages">
	<a href="./index.php?module=news&action=liste">Revenir à la liste des news</a>
</div>

{% if error == null %}
<div id="news_Full">
	<h3 class="news_title">{{ news.news_title }}</h3>
	<span class="news_info">Par {{ news.news_author }} le {{ news.news_date }}</span>
	<div class="news_content">
	{{ news.news_content }}
	</div>
</div>
{% else %}
<div class="error">
	<p>{{ error }}</p>
</div>
{% endif %}

<hr/>

<div class="navPages">
	<a href="./index.php?module=news&action=liste">Revenir à la liste des news</a>
</div>

{% endblock %}