{#
Template de suppression d'une news

Variables : error : Éventuelle erreur de connexion à la BDD 

Observations :
#}

{% extends "layout.html" %}

{% block title %}Suppression d'une news{% if error != null %} - Erreur{% endif %}{% endblock %}

{% block content %}
<div class="message">
<p>
{% if error == null %}
La news a été correctement supprimée.
{% else %}
{{ error }}
{% endif %}
</p>
<div class="navPages">
	<a href="./index.php?module=news&action=liste">Revenir à la liste des news</a>
</div>
</div>
{% endblock %}