{#
Template d'écriture d'une news

Variables : tabNews : informations de la news (champs de la BDD)
			mode : mode d'écriture de la news (voir ce-dessus)
			MODE_NOUVEAU : mode de création de news
			MODE_EDITION : mode d'édition d'une news existante

Observations : Si on est en monde édition, le formulaire est pré-rempli avec les infos de la news
#}


{% extends "layout.html" %}

{% block title %}Écriture d'une news{% endblock %}

{% block content %}
<form method="post" action="./index.php?module=news&action=save&id={{ tabNews.news_id }}&mode={{ mode }}">
	<p>
	<label for="newsTitle">Titre : </label>
	<input type="text" id="newsTitle" name="newsTitle" value="{{ tabNews.news_title }}" /><br/>
	<label for="newsAuthor">Auteur : </label>
	<input type="text" id="newsAuthor" name="newsAuthor" value="{{ tabNews.news_author }}" /><br/>
	
	<textarea id="newsContent" name="newsContent" rows=20 cols=50>{{ tabNews.news_content }}</textarea>
	<br/>
	
	<input type="submit" value="Envoyer" />
	</p>
</form>
	
{% endblock %}