{% extends "layout.html" %}

{% block title %}Liste des news{% endblock %}

{% block content %}

{% for new in listeNews %}
<div class="news_liste">
	<h3>{{ new.news_title }}</h3>
	<span class="news_info">Par {{ new.news_author }} le {{ new.news_date }}</span>
	<div class="news_content">
	{{ new.news_content | cut("12") }} <a href="./index.php?module=news&action=afficher&id={{ new.news_id }}">Lire la suite</a>
	</div>
</div>
{% endfor %}

<div class="navPages">
{% if numPage > 1 %}
	<a href="./index.php?module=news&action=liste&page={{ numPage - 1 }}">Page précédente</a>
{% endif %}
{% for page in 1..nbPages %}
	{% if page != numPage %}<a href="./index.php?module=news&action=liste&page={{ page }}">{% endif %}
	{{ page }}
	{% if page != numPage %}</a>{% endif %}
{% endfor %}
{% if numPage < nbPages %}
	<a href="./index.php?module=news&action=liste&page={{ numPage + 1 }}">Page suivante</a>
{% endif %}
	
</div>

{% endblock %}